@import '../../variables.scss';

.formContainer {
    display: flex;
    flex-direction: row;
    border: none;
    max-width: 512px;
    min-height: 60px;
    align-items: center;
    font-size: 24px;
    border-radius: 4px;
    margin: 8px 0px 8px 0px;
    background-color: var(--elements);
    .formInput {
        display: flex;
        flex-direction: row;
        margin: 8px;
        margin-right: auto;
        min-width: 10px;
        color: var(--fontColor);
        #taskDone {
            width: 24px;
            height: 24px;
            appearance: none;
            border: 1px solid var(--borders);
            min-width: 16px;
            margin-right: 8px;
        }
        #taskDone:checked {
            background-image: var(--okUrl);
            background-position: center;
            background-repeat: no-repeat;
        }
        input:checked + label {
            text-decoration: line-through;
        }
    }
    .btn {
        background-color: transparent;
        border: 1px solid var(--borders);
        width: 48px;
        height: 48px;
        border-radius: 4px;
        margin: 8px;
        > img {
            width: 16px;
            height: 18px;
            object-fit: contain;
        } 
    }
}
