@import '../../variables.scss';

.formNewTask {
    display: flex;
    position: sticky;
    top: 16px;
    border: none;
    height: 64px;
    align-items: center;
    border-radius: 4px;
    background-color: var(--elementsInAddList);
    margin-bottom: 16px;
    backdrop-filter: blur(10px);
    * {
        margin: 8px;
    }
}

.newTaskInput {
    margin-right: auto;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: var(--fontColor);
    flex-grow: 1;
    background-color: transparent;
    border: none;
    height: 48px;
    min-width: 10px;
}

.newTaskInput:focus {
    outline: none;
    background-color: transparent;
    border: 1px solid red;
}

.addButton {
    width: 48px;
    height: 48px;
    background-color: transparent;
    border: 1px solid var(--borders);
    border-radius: 4px;
    > img {
        width: 16px;
        height: 18px;
        object-fit: contain;
    }
}